{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">

    <form method="post">
        {% csrf_token %}
        <h1 class="h2 mb-4">Register Company</h1>

        <h2 class="h4">Company</h2>

        <div class="row">

            <div class="col-md-6">

                <div class="mb-2">
                    <label for="{{ form.name.id_for_label }}"
                        class="form-label">Name:</label>

                    {{ form.name }}

                    <div class="form-text">{{ form.name.help_text }}</div>

                    {% if form.name.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="mb-2">
                    <label for="{{ form.registration_code.id_for_label }}"
                        class="form-label">Registration code:</label>

                    {{ form.registration_code }}

                    <div class="form-text">{{ form.registration_code.help_text }}</div>

                    {% if form.registration_code.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.registration_code.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="mb-2">
                    <label for="{{ form.establishment_date.id_for_label }}"
                        class="form-label">Establishment date:</label>

                    {{ form.establishment_date }}

                    <div class="form-text">{{ form.establishment_date.help_text }}</div>

                    {% if form.establishment_date.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.establishment_date.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="mb-2">
                    <label for="{{ form.total_capital.id_for_label }}"
                        class="form-label">Total capital:</label>

                    {{ form.total_capital }}

                    <div class="form-text">{{ form.total_capital.help_text }}</div>

                    {% if form.total_capital.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.total_capital.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>

        <h2 class="h4">Shareholders</h2>

        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Code:</label>
                        <input type="text" class="form-control"
                            id="shareholderCode"
                            placeholder="Code" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Share amount:</label>
                        <input type="text" class="form-control"
                            id="shareholderShareAmount" placeholder="1" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">&nbsp;</label>
                        <button type="button" id="addShareholder"
                            class="btn btn-secondary w-100">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <ul id="shareholders">
            <li class="mt-3">
                <div data-shareholder-name>Firstname Lastname</div>
                <div data-shareholder-type>person</div>
                <div data-shareholder-code>12345678</div>
                <div>
                    <input type="text" class="form-control w-25"
                        data-shareholder-share-amount />
                </div>

                <input type="hidden" data-shareholder-type />
                <input type="hidden" data-shareholder-id />
            </li>
        </ul>

        <button type="button" id="submitForm"
            class="btn btn-secondary w-100">Submit</button>

        <button type="submit"
            onclick="return confirm('Are you sure you want to register this company?')"
            class="btn btn-primary mt-4">Register</button>
    </form>

</div>

<script>
$(function () {
    const shareholders = $('#shareholders');
    const shareholderTemplate = shareholders.html();

    shareholders.find('li:first').remove();

    $('#addShareholder').click(function () {
        addShareholder('person', $('#shareholderCode').val(), $('#shareholderShareAmount').val());
    }); 

    $('#submitForm').click(function () {
        var formData = $('form').serializeArray();
        var jsonData = {};

        formData.forEach(function(item) {
            var keys = item.name.replace(/\[|\]/g, '.').split('.');
            keys.reduce(function(acc, key, index) {
                if (index === keys.length - 1) {
                    acc[key] = item.value;
                } else {
                    if (!acc[key]) {
                        acc[key] = {};
                    }
                }
                return acc[key];
            }, jsonData);
        });

        console.log(JSON.stringify(jsonData));
    }); 

    function countShareholders() {
        return shareholders.children().length;
    }

    function addShareholder(type, code, shareAmount) {
        //TODO: API call

        const response = {
            'id': 1,
            'type': 'person',
            'name': 'John Doe',
            'code': 123456789,
        };

        addShareholderRow(response.id, response.type, response.name, response.code, shareAmount);
    }

    function addShareholderRow(id, type, name, code, shareAmount) {
        const shareholder = $(shareholderTemplate);
        const row = countShareholders() - 1;

        shareholder.find('[data-shareholder-name]').text(name);
        shareholder.find('[data-shareholder-type]').text(type);
        shareholder.find('[data-shareholder-code]').text(code);
        shareholder.find('[data-shareholder-share-amount]').text(shareAmount);

        shareholder.find('input[data-shareholder-type]').attr('name', `shareholders[${row}][type]`).val(type);
        shareholder.find('input[data-shareholder-id]').attr('name', `shareholders[${row}][id]`).val(id);
        shareholder.find('input[data-shareholder-share-amount]').attr('name', `shareholders[${row}][share_amount]`).val(shareAmount);

        shareholders.append(shareholder);
        console.log(shareholder.html());
    }
});
</script>

{% endblock %}