<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Osaühingu asutamine</title>
</head>
<body>
    <h1>Osaühingu asutamise vorm</h1>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Osaühingu andmed</legend>
            {{ osa_uhing_form.as_p }}
        </fieldset>
        <fieldset>
            <legend>Osanike andmed</legend>
            {{ osanik_formset.management_form }}
            {% for form in osanik_formset %}
                {{ form.as_p }}
            {% endfor %}
        </fieldset>
        <button type="submit">Salvesta</button>
    </form>
</body>
</html>