{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">

    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Search Results</h5>

            <form method="GET" action="{% url 'search' %}">

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i
                            class="bi bi-search"></i></span>
                    <input type="text" name="search" class="form-control"
                        id="businesSearchInput"
                        value="{{ search_info }}"
                        aria-describedby="basic-addon1">
                </div>

                <button type="submit"
                    class="btn btn-primary">Search</button>

            </form>

        </div>

    </div>

    <div>
        {% for company in companies_search %}
        <div class="row border-bottom">

            <div class="col mt-3">
                <h3>{{ company.name }}</h3>
                <p>Reg: {{ company.registration_code }}</p>
            </div>

        </div>
        {% endfor %}
        

    </div>

</div>
{% endblock %}