{% extends 'base.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card">

        {% include 'includes/search_result.html' %}
    </div>

    <div>
        {% if companies_search %}
        {% for company in companies_search %}
        <div class="row border-bottom">

            <div class="col mt-3">
                <h3 class="text-primary"><a
                        href="{% url 'company_detail' company.id %}">{{ company.name }}</a></h3>
                <p>Reg: {{ company.registration_code }}</p>
            </div>

        </div>
        {% endfor %}
        {% else %}
        <div class="alert alert-warning mt-3" role="alert">
            No search results
        </div>
        {% endif %}

    </div>

</div>
{% endblock %}