{% extends 'base.html' %}
{% load static %}

{% block title %}Register Company{% endblock %}

{% block content %}

<div class="container mt-5">

    <form method="post" id="companyForm">
        {% csrf_token %}
        <h1 class="h2 mb-4">Register Company</h1>

        <h2 class="h4">Company</h2>

        <div class="row">

            <div class="col-md-6">

                <div class="mb-2">
                    <label for="{{ form.name.id_for_label }}"
                        class="form-label">Name:</label>

                    {{ form.name }}

                    <div class="form-text">{{ form.name.help_text }}</div>

                    {% if form.name.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.name.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="mb-2">
                    <label for="{{ form.code.id_for_label }}"
                        class="form-label">Registration code:</label>

                    {{ form.code }}

                    <div class="form-text">{{ form.code.help_text }}</div>

                    {% if form.code.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.code.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="mb-2 w-50">
                    <label for="{{ form.established_date.id_for_label }}"
                        class="form-label">Establishment date:</label>

                    {{ form.established_date }}

                    <div class="form-text">{{ form.established_date.help_text }}</div>

                    {% if form.established_date.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.established_date.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="mb-2 w-50">
                    <label for="{{ form.total_capital.id_for_label }}"
                        class="form-label">Total capital (€):</label>

                    {{ form.total_capital }}

                    <div class="form-text">{{ form.total_capital.help_text }}</div>

                    {% if form.total_capital.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.total_capital.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
        <h2 class="h4">Shareholders</h2>

        {% if shareholders_json_errors %}
        <div class="alert alert-danger mt-3" role="alert">
            {% for error in shareholders_json_errors %}
            <div>{{ error }}</div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="card mb-3">
            <div class="card-body">
                <div class="row">

                    <div class="col-md-4">
                        <label class="form-label">Add shareholder:</label>
                        <input type="text" class="form-control"
                            id="shareholderSearchInput"
                            placeholder="Company or Person name/code" />
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">&nbsp;</label>
                        <button type="button" id="addShareholder"
                            class="btn btn-secondary w-100">Add</button>
                    </div>

                </div>
            </div>
        </div>

        <ul id="shareholders" class="list-group mt-3">
            <li class="list-group-item">
                <div class="row align-items-center gx-2 gy-2">

                    <div class="col-12 col-md-3 fw-bold" data-shareholder-name>
                        Firstname Lastname
                    </div>

                    <div class="col-6 col-md-2 text-muted small text-capitalize"
                        data-shareholder-type>
                        Person
                    </div>

                    <div class="col-6 col-md-2 text-muted small"
                        data-shareholder-code>
                        12345678
                    </div>

                    <div class="col-6 col-md-3">
                        <input type="number"
                            min="1"
                            class="form-control form-control-sm"
                            placeholder="€"
                            data-shareholder-share-amount />
                    </div>

                    <div class="col-6 col-md-2 text-end">
                        <button type="button"
                            class="btn btn-danger btn-sm w-100"
                            data-shareholder-remove>Remove</button>
                    </div>
                </div>

                <input type="hidden" data-shareholder-type />
                <input type="hidden" data-shareholder-id />
            </li>
        </ul>

        <input type="hidden" id="shareholdersInput" name="shareholders_json"
            value="{{ request.POST.shareholders_json }}" />

        <button type="submit" id="submitForm" class="btn btn-primary mt-4">Register</button>
    </form>

</div>

<script>
    const SHAREHOLDERS_SEARCH_URL = "http://127.0.0.1:8000/company/shareholders/search/";
</script>

<!--<script src="{% static 'js/company_create.js' %}"></script>-->

<script>$(function () {
    // Load initial shareholder data
    let shareholdersInput = $('#shareholdersInput').val();
    let shareholders = [];

    if (shareholdersInput) {
        try {
            shareholders = JSON.parse(shareholdersInput);
        } catch (error) {
            console.error("Invalid JSON:", error);
        }
    }

    let selectedShareholder = {};

    const shareholdersContainer = $('#shareholders');
    const shareholderTemplate = shareholdersContainer.html();

    shareholdersContainer.find('li:first').remove();

    showShareholderRows(shareholders);
    disableShareholderForm(true);

    $('#addShareholder').click(function () {
        addShareholder();
    });

    $('#submitForm').click(function () {
        $('#shareholdersInput').val(JSON.stringify(shareholders, null, 2));
        $('#companyForm').submit();
    });

    function countShareholders() {
        return shareholders.length;
    }

    function addShareholder() {
        if (!shareholders.some(shareholder => shareholder.id === selectedShareholder.id && shareholder.type === selectedShareholder.type)) {
            shareholders.push(selectedShareholder);
        }

        console.log("Shareholders: ", shareholders);

        resetShareholderForm();
        showShareholderRows(shareholders);
    }

    function resetShareholderForm() {
        selectedShareholder = {};
        $('#shareholderSearchInput').val('');
        disableShareholderForm(true);
    }

    function disableShareholderForm(isDisabled) {
        $('#addShareholder').prop('disabled', isDisabled);
    }

    function showShareholderRows(shareholders) {
        removeShareholderRows();

        shareholders.forEach(function (shareholder) {
            showShareholderRow(shareholder.id, shareholder.type, shareholder.name, shareholder.code, shareholder.share_amount);
        });
    }

    function updateShareholderShareAmount(id, type, shareAmount) {
        let shareholder = shareholders.find(shareholder => shareholder.id == id && shareholder.type == type);
        shareholder.share_amount = parseInt(shareAmount);
    }

    function deleteShareholder(id, type) {
        console.log(`Deleting shareholder (${id}, ${type})`);
        shareholders = shareholders.filter(shareholder => !(shareholder.id == id && shareholder.type == type));

        showShareholderRows(shareholders);
    }

    function showShareholderRow(id, type, name, code, shareAmount) {
        const shareholderRow = $(shareholderTemplate);
        const row = countShareholders() - 1;

        shareholderRow.find('[data-shareholder-name]').text(name);
        shareholderRow.find('[data-shareholder-type]').text(type);
        shareholderRow.find('[data-shareholder-code]').text(code);
        shareholderRow.find('[data-shareholder-share-amount]').text(shareAmount);

        shareholderRow.find('input[data-shareholder-type]').attr('name', `shareholders[${row}][type]`).val(type);
        shareholderRow.find('input[data-shareholder-id]').attr('name', `shareholders[${row}][id]`).val(id);
        shareholderRow.find('input[data-shareholder-share-amount]').attr('name', `shareholders[${row}][share_amount]`).val(shareAmount);

        shareholderRow.find('input[data-shareholder-share-amount]').on('input', function () {
            const updatedShareAmount = $(this).val();

            const parentContainer = $(this).closest('li');
            const shareholderId = parentContainer.find('input[data-shareholder-id]').val();
            const shareholderType = parentContainer.find('input[data-shareholder-type]').val();

            updateShareholderShareAmount(shareholderId, shareholderType, updatedShareAmount);
            console.log(`Updated share amount (${id}): ${updatedShareAmount}`);
        });

        shareholderRow.find('button[data-shareholder-remove]').click(function () {
            if (!confirm('Are you sure you want to remove this shareholder?')) {
                return;
            }

            const parentContainer = $(this).closest('li');
            const shareholderId = parentContainer.find('input[data-shareholder-id]').val();
            const shareholderType = parentContainer.find('input[data-shareholder-type]').val();

            deleteShareholder(shareholderId, shareholderType);
            console.log(`Delete shareholder (${id})`);
        });

        shareholdersContainer.append(shareholderRow);
    }

    function removeShareholderRows() {
        shareholdersContainer.find('li').remove();
    }

    $("#shareholderSearchInput").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: SHAREHOLDERS_SEARCH_URL,
                dataType: "json",
                data: {
                    search: request.term
                },
                success: function (data) {
                    const formattedData = data.shareholders.map(function (item) {
                        if (item.type == 'company') {
                            return {
                                label: `${item.name} (${item.code})`,
                                value: item.name,
                                id: item.id,
                                name: item.name,
                                type: 'company',
                                code: item.code,
                            };
                        } else {
                            return {
                                label: `${item.first_name} ${item.last_name} (${item.code})`,
                                value: item.first_name + ' ' + item.last_name,
                                id: item.id,
                                first_name: item.first_name,
                                last_name: item.last_name,
                                type: 'person',
                                code: item.code,
                            };
                        }
                    });
                    response(formattedData);
                }
            });
        },
        minLength: 2,
        select: function (event, ui) {
            // Handle selection
            console.log("Selected:", ui.item);

            selectedShareholder = {
                'id': ui.item.id,
                'type': ui.item.type,
                'name': ui.item.value,
                'code': ui.item.code,
                'share_amount': null,  // Default share amount
            };

            disableShareholderForm(false);
        }
    });

});
</script>

{% endblock %}
