{% extends 'base.html' %}
{% load static %}

{% block title %}Register Company{% endblock %}

{% block content %}

<div class="container mt-5">

    <form method="post" id="companyForm">
        {% csrf_token %}
        <h1 class="h2 mb-4">Register Company</h1>

        <h2 class="h4">Company</h2>

        <div class="row">

            <div class="col-md-6">

                <div class="mb-2">
                    <label for="{{ form.name.id_for_label }}"
                        class="form-label">Name:</label>

                    {{ form.name }}

                    <div class="form-text">{{ form.name.help_text }}</div>

                    {% if form.name.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.name.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-2">
                    <label for="{{ form.code.id_for_label }}"
                        class="form-label">Registration code:</label>

                    {{ form.code }}

                    <div class="form-text">{{ form.code.help_text }}</div>

                    {% if form.code.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.code.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-2 w-50">
                    <label for="{{ form.established_date.id_for_label }}"
                        class="form-label">Establishment date:</label>

                    {{ form.established_date }}

                    <div class="form-text">{{ form.established_date.help_text }}</div>

                    {% if form.established_date.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.established_date.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-2 w-50">
                    <label for="{{ form.total_capital.id_for_label }}"
                        class="form-label">Total capital:</label>

                    {{ form.total_capital }}

                    <div class="form-text">{{ form.total_capital.help_text }}</div>

                    {% if form.total_capital.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.total_capital.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
        <h2 class="h4">Shareholders</h2>

        {% if shareholders_json_errors %}
            <div class="alert alert-danger mt-3" role="alert">
                {% for error in shareholders_json_errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="card mb-3">
            <div class="card-body">
                <div class="row">

                    <div class="col-md-4">
                        <label class="form-label">Add shareholder:</label>
                        <input type="text" class="form-control"
                            id="shareholderSearchInput"
                            placeholder="Company or Person name/code" />
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">&nbsp;</label>
                        <button type="button" id="addShareholder"
                            class="btn btn-secondary w-100">Add</button>
                    </div>

                </div>
            </div>
        </div>

        <ul id="shareholders" class="list-group mt-3">
            <li class="list-group-item">
                <div class="row align-items-center gx-2 gy-2">
                    <!-- Shareholder Name -->
                    <div class="col-12 col-md-3 fw-bold" data-shareholder-name>
                        Firstname Lastname
                    </div>
        
                    <!-- Shareholder Type -->
                    <div class="col-6 col-md-2 text-muted small" data-shareholder-type>
                        Person
                    </div>
        
                    <!-- Shareholder Code -->
                    <div class="col-6 col-md-2 text-muted small" data-shareholder-code>
                        12345678
                    </div>
        
                    <!-- Shareholder Shares Input -->
                    <div class="col-6 col-md-3">
                        <input type="number" 
                               min="1" 
                               class="form-control form-control-sm" 
                               placeholder="Shares" 
                               data-shareholder-share-amount />
                    </div>
        
                    <!-- Remove Button -->
                    <div class="col-6 col-md-2 text-end">
                        <button type="button" 
                                class="btn btn-danger btn-sm w-100" 
                                data-shareholder-remove>Remove</button>
                    </div>
                </div>
        
                <!-- Hidden inputs -->
                <input type="hidden" data-shareholder-type />
                <input type="hidden" data-shareholder-id />
            </li>
        </ul>

        <input type="hidden" id="shareholdersInput" name="shareholders_json" value="{{ request.POST.shareholders_json }}" />

        <button type="button"
            id="submitForm"
            class="btn btn-primary mt-4">Register</button>
    </form>

</div>

<script>
    const SHAREHOLDERS_SEARCH_URL = "http://127.0.0.1:8000/company/shareholders/search/";
</script>

<script src="{% static 'js/company_create.js' %}"></script>

{% endblock %}


