{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">

    <div class="row">

        <div class="mb-3 mb-md-0 col-md-6">

            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Company search</h5>

                    <form method="GET" action="{% url 'search' %}">

                        {% include 'includes/search_form.html' %}

                    </form>

                </div>
            </div>

        </div>

        <div class="col-md-6">

            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Register new company</h5>
                    <p class="card-text">Create a new company entry in the business registry.</p>
                    <div class="text-end">
                        <a href="{% url 'company_create' %}" class="btn btn-secondary px-5">Start</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}