{% extends 'base.html' %}

{% block title %}{{ person.first_name }} {{ person.last_name }}{% endblock %}

{% block content %}
{% load price_filter %}

<div class="container mt-5">

    <h1 class="h2 mb-3">{{ person.first_name }} {{ person.last_name }}</h1>

    <div class="row">

        <div class="mb-3 mb-md-0 col-md-6">

            <div class="card">

                <div class="card-header">
                    General information
                </div>

                <div class="card-body">

                    <p><strong>Name:</strong> {{ person.first_name }} {{ person.last_name }}</p>
                    <p><strong>Registration Code:</strong> {{ person.code }}</p>
                    <p><strong>Created Date:</strong> {{ person.created_at|date:"F j, Y" }}</p>
                    <p><strong>Lastly Updated:</strong> {{ person.updated_at|date:"F j, Y" }}</p>

                </div>
            </div>

        </div>

        <div class="col-md-6">

            <div class="card">

                <div class="card-header">
                    Company
                </div>
                {% if shareholder_company %}
                <div class="card-body">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Company</th>
                                <th scope="col">Share</th>
                                <th scope="col">Founder</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for holder in shareholder_company %}
                            <tr>
                                <td>
                                    <i
                                        class="bi bi-building text-primary pe-1"></i>
                                    <span>
                                        <a class="link-dark"
                                            href="{% url 'company_detail' holder.company_id.id %}">{{ holder.company_id.name }}</a></span>
                                </td>
                                <td>{{ holder.share_amount|price}}</td>
                                <td>{% if holder.is_founder %}Yes{% else %}No{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% else %}
                    <div class="alert alert-warning text-center m-2"
                        role="alert">
                        No company found
                    </div>

                    {% endif %}
                </div>
            </div>

        </div>

    </div>

    {% endblock %}